@import "colors";
@import "fonts";

.greeting {
  position: relative;
  width: 780px;
  height: 740px;
  transition: background-image 1s ease-in-out;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url("../img/egg_distort.png");
}

.greeting__logo,
.greeting__asterisk,
.greeting__challenge,
.greeting__continue {
  animation: slowAppear;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes slowAppear {
  from{opacity: 0;}
  to{opacity: 1;}
}

.greeting__asterisk {
  font-size: 80px;
  color: $main-red-color;

  text-align: center;
}

.greeting__logo {
  text-align: center;
}

.greeting__challenge {
  margin: 0 auto;

  text-align: center;
  h3 {
    @include bold-text;
  }

  p {
    @include regular-text;
  }

}

.greeting__continue {
  position: absolute;

  right: -20px;
  top: 300px;

  cursor: pointer;
}
