@import "colors";

.intro {
  width: 800px;
  height: 740px;
  background: url("../img/egg_big.png") no-repeat center;
  background-size: contain;

  position: relative;
}

.intro__asterisk {
  text-align: center;

  font-size: 172px;
  color: $main-red-color;

  position: relative;
  top: 167px;
  left: 30px;
  padding-top: 50px;
}

@keyframes rotateAsterix {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

.intro__asterisk--rotate {
  transform-origin: center center;
  animation: rotateAsterix;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}


.intro__motto {
  font-size: 18px;

  position: absolute;
  bottom: 0;
}

.intro__state {
  padding-top: 50px;
  text-align: center;
  padding-left: 60px;
}
